build
build-prof
.DS_Store
.moved-submodule-content/

.cache

###################################
# python
###################################
__pycache__/
*.py[cod]

###################################
# debug and profiling
###################################
perf.data*

###################################
# generated
###################################
src/ui/translations

###################################
# Android stuff
###################################
android/build
android/app/build
android/local.properties
**/.gradle/
**/.idea
**/.cxx
*.iml
# copied on build
android/app/src/main/assets/*
